<a href="https://colab.research.google.com/github/monasin28/Python/blob/main/Assignment_1_Datatypes_%26_Operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. What is the result of the following expression?

In [1]:
5+3*2

11

2. What is the output of the following code?

In [2]:
x=5
y=10
x+=y
print(x)

15

3. Evaluate the following boolean expression:

In [3]:
(10>5) and (not(5>10))

True

4. What is the result of the following division?

In [4]:
7/2 #(float division)

3.5

5. What will be the value and type of 'x' after the following operation?

In [29]:
x= 4//2  #integer division
print(x)

2

6. What is the output of the following code?

In [13]:
a=[1,2,3]
b=a
b[0]=4
print(a)

[4, 2, 3]

7. What does the following slice operation return?

In [14]:
s="hello"
print(s[1:4])

ell

8.What will be the value of 'result'?

In [28]:
result= 2 ** 3 ** 2
print(result)

512

9.Given the list 'a = [1, 2, 3, 4, 5]', what will be the result of 'a[::-1]'?

In [20]:
a = [1, 2, 3, 4, 5]
a[::-1]

[5, 4, 3, 2, 1]

10. Evaluate the following expression:

In [21]:
10%3

1

11. What is the result of the following code?

In [22]:
x=[1, 2, 3]
y=[1, 2, 3]
print(x==y)
print(x is y)

True
False

12. What is the output of the following code?

In [23]:
x="Python"
y=x*3
print(y)

PythonPythonPython

13. What is the type and value of 'x' after the following operation?

In [27]:
x = True + 1
print(x)
type(x)

2

int

14. What will be the output of the following comparison?

In [30]:
print('abc' < 'abd')

True

15. What is the result of the following code?

In [31]:
d={'a':1, 'b':2}
d['c']=3
print(d)

{'a': 1, 'b': 2, 'c': 3}

16. What will be the value of 'a' after the following operation?

In [33]:
a = "123"
a += "456"
print(a)

123456

17. What is the output of the following?

In [34]:
a = [1, 2, 3]
b = a[:]
b.append(4)
print(a)
print(b)

[1, 2, 3]
[1, 2, 3, 4]

18. Evaluate the following expression:

In [35]:
3 * (2+4) ** 2

108

19. What will be the result of the following comparison?

In [36]:
print(5 == 5.0)

True

20. What is the output of the following code?

In [37]:
x = (1, 2, 3)
y = x + (4,)
print(y)

(1, 2, 3, 4)