<a href="https://colab.research.google.com/github/monasin28/Python/blob/main/Functions_in_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Functions in Python

1. defining a function

2. calling a functions

Create a function which takes two numbers and add them together

In [4]:
def add(a,b): #a&b are parameters (defining a function )
  c = a+b
  print(c)

In [2]:
add(5,9) #5 & 9 are arguments (calling a function)

14

In [5]:
add(19,6)

25

In [6]:
add(83,17)

100

Create a function on which takes two numbers and display the addition, subtraction, multiplication and division of these two numbers

In [7]:
def compute(a,b):
  c=a+b
  d=a-b
  e=a*b
  f=a/b
  print(c, d, e, f)

In [8]:
compute(10,5)

15 5 50 2.0

In [9]:
compute(52,12)

64 40 624 4.333333333333333

Create a function of which displays the name, age, and city of a candidate

In [16]:
def person(name, age, city):



  print(name, age, city)

In [17]:
person("ankita",18,"kanpur")

ankita 18 kanpur

In [18]:
person("ashi", 23, "noida")

ashi 23 noida

Types of Arguments

1. Positional arguments

2. Default arguments

3. Arbitrary arguments

4. keyword arguments

5. Arbitrary keyword arguments

In [19]:
#Positional arguments
def name(firstname, lastname):
  print("Hi your first name is", firstname)

In [20]:
name("Ankita", "singh")

Hi your first name is Ankita

In [22]:
#default arguments
def greet(name, message="Hi, how are you?"): #message is the default argument
  print(name, message)

In [24]:
greet("Ankita", "good evening")

Ankita good evening

In [25]:
greet("Ankita",) #if we don't provide any message then by default it is hi,how are you

Ankita Hi, how are you?

Create a function which takes name and salary as input and incase the salary is not provided, use default salary as 25000. display the name and salary of individual

In [4]:
def person(name, salary=25000):
  print(name, salary)

In [27]:
person("Anuj", )

Anuj 25000

In [5]:
person("Anika", 35000)

Anika 35000

In [9]:
#keyword arguments
def greet(name, age, message):
  print(message, name, "your age is",age)

In [10]:
greet(name="Ankita", age= 24, message="good day") #while calling the function, we need to provide the input in key-value format as same as in dictionaries but here we don't use colon

good day Ankita your age is 24

In [11]:
greet(message="How are you?", name="meera", age=98)

How are you? meera your age is 98

In [20]:
##arbitrary arguments -- to symbolically define arbitrary argument we use *args
def add(*args): #in arbitrary argument default type is tuple
  print(type(args)) #in arbitrary arguments instead of using same function again and again, we create function for once and keep on providing vales to it
  print(args)

  sum=0
  for num in args:
    sum=sum+num
  return sum

In [2]:
add(3,4)

<class 'tuple'>
(3, 4)

7

In [3]:
add(3,8,9,-3,-5,12)

<class 'tuple'>
(3, 8, 9, -3, -5, 12)

24

In [17]:
def func(a,b,*args):
  print(a)
  print(b)
  print(args)

In [19]:
func(5,7,5,6,8,9,4,5)

5
7
(5, 6, 8, 9, 4, 5)

Arbitrary keyword argument

In [25]:
#in arbitrary keyboard argument we use ---*kwargs, default type is dictionary

def display(**kwargs):
  print(type(kwargs))
  print(kwargs)

  for key, value in kwargs.items():
    print(key,"-->",value)

In [26]:
display(name="Ankita",age=99, city="mumbai")

<class 'dict'>
{'name': 'Ankita', 'age': 99, 'city': 'mumbai'}
name --> Ankita
age --> 99
city --> mumbai