<a href="https://colab.research.google.com/github/monasin28/Python/blob/main/Loops_in_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

LOOPS

For Loop

In [3]:
names=["sana", "ankita", "samarth", "akash", "arpita", "sahil", "pallavi"]
for name in names:
  print(name)

sana
ankita
samarth
akash
arpita
sahil
pallavi

In [4]:
no=[1,3,5,7,8,9]
for num in no:
  print(num)

1
3
5
7
8
9

In [5]:
fruits=["apple", "grapes", "guava", "mango", "lichi"]
for fruit in fruits:
  print(fruit)

apple
grapes
guava
mango
lichi

Q.1 Display first 10 natural numbers?

In [6]:
for i in range(0,10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [7]:
for i in range(0,10,2):
  print(i)

0
2
4
6
8

In [8]:
for i in range(0,10,3):
  print(i)

0
3
6
9

Q.2 Take a list of numbers and display all the even numbers from the list?

In [10]:
my_list=[2,3,4,5,6,7,8,9,12,13,15,16,17,18,19,20]
for i in my_list:
  if i%2==0:
    print(i,end=' ') #if we want answer in horizontal way

2 4 6 8 12 16 18 20

Q.3 Take a list of numbers and display all the odd numbers from the list?

In [11]:
my_list=[2,3,4,5,6,7,8,9,12,13,15,16,17,18,19,20]
for i in my_list:
  if i%2==1:
      print(i,end=' ') #if we want answer in horizontal way

3 5 7 9 13 15 17 19

While Loop

Q.4 Display all the numbers including 1 to 10

In [12]:
i = 1
while i<=10:
  print(i)
  i=i+1

1
2
3
4
5
6
7
8
9
10

Q.5 Display all the even numbers between 1 to 20 (both numbers included)

In [23]:
i = 0
while i<=20:
  print(i)
  i=i+2

0
2
4
6
8
10
12
14
16
18
20

Controlling the flow in Loops

1.Break statement -- breaks the loop when an element is satisfying a given condition

2.Continue statement -- the loop continues to iterate and only the element in the given condition gets skipped

In [28]:
#break statement
fruit=["apple", "guava", "lichi", "berry", "melon"]
for i in fruit:
  if i=="lichi":
    break
  print(i)

apple
guava

In [26]:
name="Ankita"
for i in name:
  if i=="t":
    break
  print(i)

A
n
k
i

In [43]:
#continue statement
fruits=["apple", "banana", "melon", "guava"]
for i in fruits:
  if i=="melon":
    continue
  print(i)

apple
banana
guava