<a href="https://colab.research.google.com/github/monasin28/Python/blob/main/Operators%26ConditionalStatements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Operators in phthon

In [ ]:
a=30 #hard code

In [ ]:
name=input("Enter your name") #bydefault the datatupe will always be stringin nature

Enter your nameAnkita

In [ ]:
print(name)

Ankita

In [ ]:
type(name)

str

In [ ]:
#typecasting-- a restriction on top of the input()

In [ ]:
otp=int(input("enter a 4 digit otp")) #int() ia a restriction on top of input() which helps in accepting only input

enter a 4 digit otp5674

In [ ]:
print(otp)

6548

In [ ]:
type(otp)

int

In [ ]:
temp= float(input("enter the temp of your city")) #float() is restriction over input()

enter the temp of your city67.8

In [ ]:
print(temp)

67.8

In [ ]:
type(temp)

float

operators
1.arithmatic operator
2.assignment operator
3.logical operators
4.comparison operators

In [ ]:
#Arithmetic operators
num1=40
num2=5

print(num1+num2) #addition
print(num1-num2) #subtraction
print(num1*num2) #multiplication
print(num1/num2) #single forward slash --float division
print(num1//num2) #double forward slash --integer division

45
35
200
8.0
8

In [ ]:
#exponential arithmetic operator
a=3 # raise the power of 3 by 5---2^5
print(a**3)

27

In [ ]:
b=8 #raise the power of 8 by 6--- 8^6
print(8**6)

262144

In [ ]:
#modulor operator --- %
a=10
b=3
print(a%b) # a and b will be divided and the remainder of the division will be displayed as a output

1

In [ ]:
a=10
b=2
print(a%b)

0

In [ ]:
#comparison operators

a=10
b=20

print(a>b) #greater than
print(a<b) #less than
print(a>=b) #greater than or equal to
print(a<=b) #less than or equal to
print(a==b) # equal to
print(a!=b) #not equal to

False
True
False
True
False
True

In [ ]:
#logical operators --- (AND, OR, NOT)

In [ ]:
#AND operator

print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [ ]:
#OR operator

print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [ ]:
#Not operator
print(not True)
print(not False)

False
True

In [ ]:
print(not 5>7)

True

In [2]:
#assignment operators

1. Assignment Operator (=).  a=3
2. Addition assignment operator (+=). a+=3/a=a+3
3. subtraction assignment operator (-=). a-=2/a=a-2
4. multiplication Assignment operator (*=). a*=1/a=a*1
5. division assignment operator (/=). a/=3 /
a=a/3
6. remainder assignment operator (%=). a%=4/a=a%4
7. exponent assignment operator (**=). a**=10/a=a**10

In [3]:
num=5

In [4]:
print(num)

5

In [6]:
num=5
num=num + 5 #addition assignment operator
print(num)

10

In [7]:
num=6
num = num - 5 #subtraction assignment operator
print(num)

1

In [8]:
num = 10
num = num / 5 #division assignment operator
print(num)

2.0

In [9]:
num = 10
num = num * 5 #multipication assignment operator
print(num)

50

In [10]:
num = 16
num = num % 5 #remainder assignment operator
print(num)

1

In [13]:
num = 5
num = num ** 3 #exponent assignment operator
print(num)

125

CONDITIONAL Statements
if/else/elif

Q.1 Take number as input from the user and check if the number is greater than 15 or not?

In [19]:
num=int(input("enter a number"))
if(num>15):
  print("num is greater than 15")
else:
  print("num is less than 15")

enter a number12
num is less than 15

Q.2 Take two numbers x and y as input from the user and check which numberisgreater?

In [21]:
x=int(input("1st number"))
y=int(input("2nd number"))
if(x>y):
  print("x is greater num")
else:
  print("y is greater num")c

1st number13
2nd number45
y is greater num

Q.3 Take age of a candidate as input from the user and check if the candidate is eligible for voting or not?(voting age>=18years)

In [24]:
age=int(input("enter age of candidate"))
if age>=18:
  print("candidate is eligible for voting ")
else:
  print("candidate is not eligible for voting ")

enter age of candidate18
candidate is eligible for voting

Q.4 Take marks as input from the user and give grades to students in following format:
marks more than or equal to 90--A
marks more than or equal to 80--B
marks more than or equal to 70--C
marks more than or equal to 60-- D
marks less than 60-- study hard

In [26]:
marks = int(input("enter marks obtained"))
if marks>=90:
  print("got A grade")
elif marks>=80:
  print("got B grade")
elif marks>=70:
  print("got C grade")
elif marks>=60:
  print("got D grade")
else:
  print("study hard")

enter marks obtained59
study hard

Q.5 In a fare, the entry fee for children less than 4 years of age is free, the entry of children between 4 to 16 years is 100 rupees and the entry of people above 16 years is 175 rupees.

Take age as input from the user and calculate the entry fee based on the age provided?

In [31]:
age= int(input("enter age of person"))
if age<4:
  print("entry fee is free")
elif age<=16:
  print("entry fee is 100 rupees")
else:
  print("entry fee is 175 rupees")

enter age of person12
entry fee is 100 rupees

Q.6 Take a number as input from the user and check if the numberis even or odd?

In [39]:
num=int(input("enter a num"))
if num%2==0:
  print("num is even")
else:
  print("num is odd")

enter a num56
num is even

Q.7 Take a number as input from the user and check if number is odd or not?

In [38]:
num=int(input("enter a num"))
if num%2==1:
  print("num is odd")
else:
  print("num is even")

enter a num63
num is odd

Q.8 The owner of a company decides to give a bonus of 5% to employees who have been working in this company for the past 5 years or more.

Take current salary and years of experience with the current organization as input from the user and display the incremented salary.

In [40]:
current_salary=int(input("enter current salary "))
experience=int(input("enter year of experience "))
if experience>=5:
  print("incremented salary is", current_salary + 0.05*current_salary)
else:
  print("no increment in salary, your current salary is", current_salary)

enter current salary 50000
enter year of experience 6
incremented salary is 52500.0

Nested statement -- conditions

Q.9 Take a number as input from the user and check if the number is greater than 10 or not. just in case the number is greater than 10, check if the number is greater than 20 also or not.

In [4]:
x = int(input("enter a number"))
if x>10:
  if x>20:
    print("x is greater than 20")
  else:
    print("x is less than 20 but greater than 10")
else:
  print("x is less than 10")

enter a number13
x is less than 20 but greater than 10

Q.10 Take a number as input from the user and check if the number is 0 or positive or negative using nested statements?

In [9]:
x = int(input("enter a number"))
if x>=0:
  if x>0:
      print("x is positive number")
  else:
      print("x is equal to 0")
else:
  print("x is negative ")

enter a number-7
x is negative